@use './reset';
@use './fonts';
@use './theme';

html,
body,
textarea,
button,
input {
  font-family: var(--font-base);
  box-sizing: border-box;
  color: var(--Black1);
}

* {
  box-sizing: border-box;
}
